{{ define "content" }}
<script src="/assets/copytoclipboard.js"></script>
<div class="container site-header">
  <h1 class="title is-1">QuePasa Bots</h1>
    <p class="subtitle">Bem-Vindo {{ .User.Username }}</p>
    <h2 class="title is-2">({{ len .Servers }}) Seus Bots</h2>
    <a class="button is-primary" href="/form/verify?mode=md">Adicionar ou Atualizar</a>
    {{ if .ErrorMessage }}
    <div class="notification is-warning">
      {{ .ErrorMessage }}
    </div>
    {{ end }}
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Telefone</th>
          <th>Verificado?</th>
          <th>Token</th>
          <th style="text-align: center;">Ações</th>
          <th style="text-align: center;">Extra</th>
          <th style="text-align: center;">WebHooks</th>
          <th style="text-align: center;" colspan="2">Bateria</th>
          <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Servers }}   
          <tr>
            <td>
              <span>{{ .GetNumber }}</span>
            </td>
            <td>
              <span class="button" disabled>
                {{ if .Verified }}
                  <span class="icon has-text-success"><i class="fas fa-check-square"></i></span>
                {{ else }}
                  <span class="icon has-text-warning"><i class="fas fa-exclamation-triangle"></i></span>
                {{ end }}
              </span>
            </td>
            <td>
              <small><code title="Clique Para Copiar" style="cursor: pointer;" onclick="CopyToClipboard(this.textContent)">{{ .Token }}</code></small>
            </td>
            <td style="text-align: center;">              
              <div class="field has-addons">
                <p class="control">
                  <form class="" method="post" action="/form/cycle">
                    <input name="token" type="hidden" value="{{ .Token }}">
                    <button class="button is-primary is-outlined" title="Redefinir o token">
                      <span class="icon is-small is-inline"><i class="fa fa-sync"></i></span>
                    </button>
                  </form>
                </p>
                {{ if .IsDevelopmentGlobal }}
                  <p class="control"> 
                    <form class="" method="post" action="/form/debug">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-warning {{ if .Devel }}is-hovered{{ else }}is-outlined{{ end }}" title="Alternar depuração para este bot">
                        <span class="icon is-small is-inline"><i class="fa fa-bug"></i></span>
                      </button>
                    </form>
                  </p>
                {{ end }}
                {{ if .Verified }}                  
                  <p class="control"> 
                    <form class="" method="post" action="/form/toggle">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-danger {{ if not .GetWorking }}is-hovered{{ else }}is-outlined{{ end }}" title="Alternar estado de execução para este bot">
                        <span class="icon is-small is-inline"><i class="fa fa-{{ if not .GetWorking }}play{{ else }}stop{{ end }}-circle"></i></span>
                      </button>
                    </form>
                  </p>
                  <p>&nbsp;&nbsp;</p>
                  <p class="control"> 
                    <form class="" method="post" action="/form/togglebroadcast">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-info {{ if .HandleBroadcast }}is-hovered{{ else }}is-outlined{{ end }}" title="Gerenciar Status de WhastApp">
                        <span class="icon is-small is-inline"><i class="fa fa-comment-dots"></i></span>
                      </button>
                    </form>
                  </p>
                  <p>&nbsp;</p>
                  <p class="control"> 
                    <form class="" method="post" action="/form/togglegroups">
                      <input name="token" type="hidden" value="{{ .Token }}">
                      <button class="button is-info {{ if .HandleGroups }}is-hovered{{ else }}is-outlined{{ end }}" title="Gerenciar mensagens de grupo">
                        <span class="icon is-small is-inline"><i class="fa fa-comments"></i></span>
                      </button>
                    </form>
                  </p>
                {{ end }}
                <p>&nbsp;&nbsp;</p>
                <p class="control">
                  <form class="" method="post" action="/form/delete">
                    <input name="token" type="hidden" value="{{ .Token }}">
                    <button class="button  is-danger is-outlined" title="Deletar Este Bot">
                      <i class="fa fa-trash"></i>&nbsp;&nbsp;
                      Delete
                    </button>
                  </form>
                </p>
              </div>
            </td>
            <td style="text-align: center;"> 
              <div class="field has-addons">
                {{ if eq .GetStatusString "Ready" }}               
                  <p class="control">
                    <a href="/form/server/{{ .Token }}/send" class="button" title="Enviar Mensagens Por Este Bot">
                      <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;
                      Enviar
                    </a>
                  </p>
                  <p class="control">
                    <a href="/form/server/{{ .Token }}/receive" class="button" title="Mensagens Recebidas Por Este Bot">
                      <i class="fa fa-download"></i>&nbsp;&nbsp;
                      Receber
                    </a>
                  </p>
                {{ end }}                
              </div>
            </td>
            <td style="text-align: center;">
              <span class="button" disabled>
                {{ if .Webhooks }}
                  <span class="icon has-text-success" title="{{ .Webhooks }}"><i class="fas fa-check-square"></i> </span>
                  {{ else }}
                  <span class="icon has-text-warning"><i class="fas fa-exclamation-triangle"></i> </span>
                {{ end }}
              </span>
            </td>
            <td>
              <span>{{ .GetBatteryInfo.Percentage }} % </span>
            </td>
            <td>
              <span class="icon" title="Last update: {{ .GetBatteryInfo.Timestamp }}"><i class="fas fa-clock"></i> </span>
              {{ if .GetBatteryInfo.Plugged  }}
                <span class="icon has-text-info charging-station" title="charging"><i class="fas fa-charging-station"></i> </span>              
              {{ end }}
              {{ if .GetBatteryInfo.Powersave  }}
                <span class="icon has-text-danger" title="power save mode !"><i class="fas fa-battery-empty"></i> </span>              
              {{ end }}              
            </td>
            <td><span title="{{ .GetStartedTime }}">{{ .GetStatusString }}</span></td>
            </tr>            
        {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
